In [1]:
import matplotlib
import itertools
import numpy as np
import pandas as pd 
from numbers import Number
import sqlite3
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import roc_auc_score, plot_roc_curve
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn.metrics import plot_confusion_matrix
import sqldf
from sklearn.pipeline import Pipeline
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib.image as mpimg
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_digits, load_sample_images

from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import ConfusionMatrixDisplay
import seaborn as sns
from tensorflow import keras
    
%load_ext autoreload
%autoreload 2
warnings.filterwarnings('ignore')

In [2]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Input
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Flatten

In [3]:
import xlrd
import os
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV,\
cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier,\
ExtraTreesClassifier, VotingClassifier, StackingRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegre ssor
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier


from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor

In [24]:
CPI_All_df = pd.read_csv('Data\CPI_All_Items.csv')

FF_df = pd.read_csv('Data\FEDFUNDSRATE.csv')

Labor_ofage_df = pd.read_csv('Data\Labor_25_64.csv')

GDP_df = pd.read_csv('Data\GDP.csv')

Labor_Part_df = pd.read_csv('Data\Labor_Participation.csv')

M1_Velo = pd.read_csv('Data\M1Velo.csv')

M2_Real = pd.read_csv('Data\M2REAL.csv')

M2_all = pd.read_csv('Data\M2SL.csv')

M2_Velo = pd.read_csv('Data\M2Velo.csv')

MFG_Cap = pd.read_csv('Data\Manfcturing_capacity.csv')

DG_Orders = pd.read_csv('Data\Manufacturer_DG_Orders_starts_1992.csv')

Median_CPI = pd.read_csv('Data\Median_CPI.csv')

PCE_DG = pd.read_csv('Data\PCE_Durable_Goods.csv')

PCEsansFE = pd.read_csv('Data\PCE_Sans_FE.csv')

Prod_Mfg = pd.read_csv('Data\Production_manufacturing.csv')

Raw_UE = pd.read_csv('Data\Raw_Unemployment.csv')

Stick_CPIsansFE = pd.read_csv('Data\Sticky_CPI_Sans_FE.csv')

fiveyr_diff = pd.read_csv('Data\T5Y_minus_FF.csv')

tenyr_diff = pd.read_csv('Data\T10Y_minus_FF.csv')

UE_Rate = pd.read_csv(r'Data\Unemployment_Rate.csv')

M1 = pd.read_csv('Data\WM1NS.csv')

In [45]:
CPI_All_df.tail()

           DATE  CPALTT01USM657N
403  2023-08-01         0.436716
404  2023-09-01         0.248513
405  2023-10-01        -0.038338
406  2023-11-01        -0.201514
407  2023-12-01        -0.099332

In [20]:
UE_Rate['DATE']=pd.to_datetime(UE_Rate['DATE'])

In [21]:
UE_Rate.head()

        DATE  UNRATE
0 1990-01-01     5.4
1 1990-02-01     5.3
2 1990-03-01     5.2
3 1990-04-01     5.4
4 1990-05-01     5.4

In [152]:
Full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505207 entries, 0 to 64373
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         505206 non-null  float64
 1   Age                505206 non-null  float64
 2   Gender             505206 non-null  object
 3   Tenure             505206 non-null  float64
 4   Usage Frequency    505206 non-null  float64
 5   Support Calls      505206 non-null  float64
 6   Payment Delay      505206 non-null  float64
 7   Subscription Type  505206 non-null  object
 8   Contract Length    505206 non-null  object
 9   Total Spend        505206 non-null  float64
 10  Last Interaction   505206 non-null  float64
 11  Churn              505206 non-null  float64
dtypes: float64(9), object(3)
memory usage: 50.1+ MB

In [153]:
len(df)

505207

In [154]:
len(df3)

505207

In [155]:
df['Churn'].value_counts()
#pretty decent split

1.0    280492
0.0    224714
Name: Churn, dtype: int64

In [156]:
#making buckets for tenure
max(df['Tenure'])

60.0

In [157]:
def get_tenure_group(Tenure):
    if Tenure < 24:
        return 'New'
    elif Tenure >= 24 and Tenure < 48:
        return 'Intermediate'
    else:
        return 'Long Term'

In [158]:
df['Tenure_Group'] = df['Tenure'].apply(get_tenure_group)

In [159]:
df['Tenure_Group'].value_counts()

Intermediate    209979
New             179990
Long Term       115238
Name: Tenure_Group, dtype: int64

In [160]:
#EDA
query = """
SELECT Tenure_Group, COUNT(Tenure_Group) Amount
FROM df
GROUP BY Tenure_Group
ORDER BY Amount DESC
LIMIT 100
"""

In [161]:
df_view = sqldf.run(query)
df_view

   Tenure_Group  Amount
0  Intermediate  209979
1           New  179990
2     Long Term  115238

In [162]:
df['Usage Frequency'].value_counts()

11.0    17387
29.0    17383
21.0    17353
25.0    17328
12.0    17303
30.0    17303
19.0    17300
20.0    17286
26.0    17223
10.0    17184
27.0    17183
23.0    17168
14.0    17164
15.0    17151
13.0    17143
17.0    17127
22.0    17098
24.0    17071
28.0    17052
16.0    17039
18.0    16908
1.0     16412
3.0     16331
2.0     16266
5.0     16053
4.0     15976
9.0     15834
6.0     15818
8.0     15741
7.0     15621
Name: Usage Frequency, dtype: int64

In [163]:
def get_usage_group(Usage_Frequency):
    if Usage_Frequency < 10:
        return 'Low'
    elif Usage_Frequency >= 10 and Usage_Frequency < 20:
        return 'Medium'
    else:
        return 'High'

In [164]:
df['Usage_Group'] = df['Usage Frequency'].apply(get_usage_group)

In [165]:
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Tenure_Group,Usage_Group
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0,Intermediate,Medium
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0,Long Term,Low
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0,New,Low
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0,Intermediate,High
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0,Intermediate,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,Female,33.0,12.0,6.0,21.0,Basic,Quarterly,947.0,14.0,1.0,Intermediate,Medium
64370,64371.0,37.0,Male,6.0,1.0,5.0,22.0,Standard,Annual,923.0,9.0,1.0,New,Low
64371,64372.0,25.0,Male,39.0,14.0,8.0,30.0,Premium,Monthly,327.0,20.0,1.0,Intermediate,Medium
64372,64373.0,50.0,Female,18.0,19.0,7.0,22.0,Standard,Monthly,540.0,13.0,1.0,New,Medium
64373,64374.0,52.0,Female,45.0,15.0,9.0,25.0,Standard,Monthly,696.0,22.0,1.0,Intermediate,Medium

In [166]:
df['Support Calls'].value_counts()

0.0     74842
1.0     74405
2.0     71383
3.0     57452
4.0     43898
5.0     31575
10.0    30487
7.0     30469
9.0     30294
8.0     30208
6.0     30193
Name: Support Calls, dtype: int64

In [167]:
def get_support_group(support):
    if support < 3:
        return 'Low'
    elif support >= 3 and support < 5:
        return 'Medium'
    else:
        return 'High'

In [168]:
df['Support_Group'] = df['Support Calls'].apply(get_support_group)

In [169]:
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Tenure_Group,Usage_Group,Support_Group
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0,Intermediate,Medium,High
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0,Long Term,Low,High
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0,New,Low,High
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0,Intermediate,High,High
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0,Intermediate,High,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,Female,33.0,12.0,6.0,21.0,Basic,Quarterly,947.0,14.0,1.0,Intermediate,Medium,High
64370,64371.0,37.0,Male,6.0,1.0,5.0,22.0,Standard,Annual,923.0,9.0,1.0,New,Low,High
64371,64372.0,25.0,Male,39.0,14.0,8.0,30.0,Premium,Monthly,327.0,20.0,1.0,Intermediate,Medium,High
64372,64373.0,50.0,Female,18.0,19.0,7.0,22.0,Standard,Monthly,540.0,13.0,1.0,New,Medium,High
64373,64374.0,52.0,Female,45.0,15.0,9.0,25.0,Standard,Monthly,696.0,22.0,1.0,Intermediate,Medium,High

In [170]:
df['Payment Delay'].value_counts()

20.0    19455
16.0    19384
18.0    19311
17.0    19206
19.0    19153
12.0    18785
11.0    18774
13.0    18703
10.0    18697
14.0    18696
15.0    18601
3.0     18568
7.0     18566
1.0     18560
4.0     18526
0.0     18498
6.0     18495
8.0     18451
9.0     18403
2.0     18353
5.0     18312
21.0    11436
30.0    11364
22.0    11275
29.0    11194
26.0    11164
25.0    11143
24.0    11073
23.0    11039
28.0    11025
27.0    10996
Name: Payment Delay, dtype: int64

In [171]:
def get_delay_group(delay):
    if delay < 1:
        return 'No Delay'
    else:
        return 'Delay'

In [172]:
df['Delay'] = df['Payment Delay'].apply(get_delay_group)

In [173]:
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Tenure_Group,Usage_Group,Support_Group,Delay
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0,Intermediate,Medium,High,Delay
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0,Long Term,Low,High,Delay
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0,New,Low,High,Delay
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0,Intermediate,High,High,Delay
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0,Intermediate,High,High,Delay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,Female,33.0,12.0,6.0,21.0,Basic,Quarterly,947.0,14.0,1.0,Intermediate,Medium,High,Delay
64370,64371.0,37.0,Male,6.0,1.0,5.0,22.0,Standard,Annual,923.0,9.0,1.0,New,Low,High,Delay
64371,64372.0,25.0,Male,39.0,14.0,8.0,30.0,Premium,Monthly,327.0,20.0,1.0,Intermediate,Medium,High,Delay
64372,64373.0,50.0,Female,18.0,19.0,7.0,22.0,Standard,Monthly,540.0,13.0,1.0,New,Medium,High,Delay
64373,64374.0,52.0,Female,45.0,15.0,9.0,25.0,Standard,Monthly,696.0,22.0,1.0,Intermediate,Medium,High,Delay

In [174]:
df['Total Spend'].median()

648.9

In [175]:
def get_pay_group(pay):
    if pay < 250:
        return 'Low'
    elif pay >= 250 and pay < 750:
        return 'Medium'
    else:
        return 'High'

In [176]:
df['Pay_Group'] = df['Total Spend'].apply(get_pay_group)

In [177]:
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Tenure_Group,Usage_Group,Support_Group,Delay,Pay_Group
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0,Intermediate,Medium,High,Delay,High
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0,Long Term,Low,High,Delay,Medium
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0,New,Low,High,Delay,Low
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0,Intermediate,High,High,Delay,Medium
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0,Intermediate,High,High,Delay,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,Female,33.0,12.0,6.0,21.0,Basic,Quarterly,947.0,14.0,1.0,Intermediate,Medium,High,Delay,High
64370,64371.0,37.0,Male,6.0,1.0,5.0,22.0,Standard,Annual,923.0,9.0,1.0,New,Low,High,Delay,High
64371,64372.0,25.0,Male,39.0,14.0,8.0,30.0,Premium,Monthly,327.0,20.0,1.0,Intermediate,Medium,High,Delay,Medium
64372,64373.0,50.0,Female,18.0,19.0,7.0,22.0,Standard,Monthly,540.0,13.0,1.0,New,Medium,High,Delay,Medium
64373,64374.0,52.0,Female,45.0,15.0,9.0,25.0,Standard,Monthly,696.0,22.0,1.0,Intermediate,Medium,High,Delay,Medium

In [178]:
df['Last Interaction'].value_counts()

7.0     19205
8.0     18972
14.0    18914
15.0    18907
6.0     18904
3.0     18873
1.0     18843
12.0    18840
10.0    18819
13.0    18800
5.0     18797
2.0     18781
11.0    18703
4.0     18628
9.0     18620
16.0    14990
24.0    14984
26.0    14976
27.0    14935
19.0    14913
30.0    14860
22.0    14849
28.0    14810
20.0    14808
21.0    14805
18.0    14772
25.0    14748
23.0    14738
29.0    14716
17.0    14696
Name: Last Interaction, dtype: int64

In [179]:
def get_inter_group(inter):
    if inter < 15:
        return 'Recent'

    else:
        return 'Not Recent'

In [180]:
df['Interaction_group'] = df['Last Interaction'].apply(get_inter_group)

In [200]:
df['Age'].value_counts()

50.0    14787
42.0    13873
47.0    13755
44.0    13658
43.0    13651
46.0    13647
49.0    13641
48.0    13632
40.0    13613
41.0    13608
45.0    13546
38.0    12470
36.0    12436
31.0    12432
37.0    12391
35.0    12353
39.0    12310
33.0    12247
30.0    12231
34.0    12171
32.0    12169
25.0    10995
26.0    10973
20.0    10941
22.0    10905
29.0    10901
28.0    10886
21.0    10825
23.0    10798
27.0    10787
24.0    10717
18.0     9493
19.0     9352
63.0     7033
55.0     6975
53.0     6949
65.0     6934
59.0     6903
54.0     6894
64.0     6891
56.0     6869
52.0     6839
60.0     6832
58.0     6822
61.0     6821
51.0     6803
57.0     6762
62.0     6685
Name: Age, dtype: int64

In [204]:
def get_age_group(age):
    if age < 25:
        return 'Young'
    elif age >= 25 and age < 40:
        return 'Middle'
    else:
        return 'Old'

In [205]:
df['Age_group'] = df['Age'].apply(get_age_group)
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Tenure_Group,Usage_Group,Support_Group,Delay,Pay_Group,Interaction_group,Age_group
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0,Intermediate,Medium,High,Delay,High,Not Recent,Middle
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0,Long Term,Low,High,Delay,Medium,Recent,Old
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0,New,Low,High,Delay,Low,Recent,Old
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0,Intermediate,High,High,Delay,Medium,Not Recent,Old
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0,Intermediate,High,High,Delay,Medium,Not Recent,Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,Female,33.0,12.0,6.0,21.0,Basic,Quarterly,947.0,14.0,1.0,Intermediate,Medium,High,Delay,High,Recent,Old
64370,64371.0,37.0,Male,6.0,1.0,5.0,22.0,Standard,Annual,923.0,9.0,1.0,New,Low,High,Delay,High,Recent,Middle
64371,64372.0,25.0,Male,39.0,14.0,8.0,30.0,Premium,Monthly,327.0,20.0,1.0,Intermediate,Medium,High,Delay,Medium,Not Recent,Middle
64372,64373.0,50.0,Female,18.0,19.0,7.0,22.0,Standard,Monthly,540.0,13.0,1.0,New,Medium,High,Delay,Medium,Recent,Old
64373,64374.0,52.0,Female,45.0,15.0,9.0,25.0,Standard,Monthly,696.0,22.0,1.0,Intermediate,Medium,High,Delay,Medium,Not Recent,Old

In [207]:
df_cleaned = df

df_cleaned

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Tenure_Group,Usage_Group,Support_Group,Delay,Pay_Group,Interaction_group,Age_group
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0,Intermediate,Medium,High,Delay,High,Not Recent,Middle
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0,Long Term,Low,High,Delay,Medium,Recent,Old
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0,New,Low,High,Delay,Low,Recent,Old
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0,Intermediate,High,High,Delay,Medium,Not Recent,Old
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0,Intermediate,High,High,Delay,Medium,Not Recent,Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,45.0,Female,33.0,12.0,6.0,21.0,Basic,Quarterly,947.0,14.0,1.0,Intermediate,Medium,High,Delay,High,Recent,Old
64370,64371.0,37.0,Male,6.0,1.0,5.0,22.0,Standard,Annual,923.0,9.0,1.0,New,Low,High,Delay,High,Recent,Middle
64371,64372.0,25.0,Male,39.0,14.0,8.0,30.0,Premium,Monthly,327.0,20.0,1.0,Intermediate,Medium,High,Delay,Medium,Not Recent,Middle
64372,64373.0,50.0,Female,18.0,19.0,7.0,22.0,Standard,Monthly,540.0,13.0,1.0,New,Medium,High,Delay,Medium,Recent,Old
64373,64374.0,52.0,Female,45.0,15.0,9.0,25.0,Standard,Monthly,696.0,22.0,1.0,Intermediate,Medium,High,Delay,Medium,Not Recent,Old

In [211]:
X_Train_df=df_cleaned.drop(columns = ['Churn', 'Age', 'Tenure', 'Usage Frequency', 'Support Calls', 'Payment Delay', 'Total Spend', 'Last Interaction'])
X_Train_df

,CustomerID,Gender,Subscription Type,Contract Length,Tenure_Group,Usage_Group,Support_Group,Delay,Pay_Group,Interaction_group,Age_group
0,2.0,Female,Standard,Annual,Intermediate,Medium,High,Delay,High,Not Recent,Middle
1,3.0,Female,Basic,Monthly,Long Term,Low,High,Delay,Medium,Recent,Old
2,4.0,Female,Basic,Quarterly,New,Low,High,Delay,Low,Recent,Old
3,5.0,Male,Standard,Monthly,Intermediate,High,High,Delay,Medium,Not Recent,Old
4,6.0,Male,Basic,Monthly,Intermediate,High,High,Delay,Medium,Not Recent,Young
...,...,...,...,...,...,...,...,...,...,...,...
64369,64370.0,Female,Basic,Quarterly,Intermediate,Medium,High,Delay,High,Recent,Old
64370,64371.0,Male,Standard,Annual,New,Low,High,Delay,High,Recent,Middle
64371,64372.0,Male,Premium,Monthly,Intermediate,Medium,High,Delay,Medium,Not Recent,Middle
64372,64373.0,Female,Standard,Monthly,New,Medium,High,Delay,Medium,Recent,Old
64373,64374.0,Female,Standard,Monthly,Intermediate,Medium,High,Delay,Medium,Not Recent,Old

In [217]:
X_Train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505206 entries, 0 to 64373
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         505206 non-null  float64
 1   Gender             505206 non-null  object
 2   Subscription Type  505206 non-null  object
 3   Contract Length    505206 non-null  object
 4   Tenure_Group       505206 non-null  object
 5   Usage_Group        505206 non-null  object
 6   Support_Group      505206 non-null  object
 7   Delay              505206 non-null  object
 8   Pay_Group          505206 non-null  object
 9   Interaction_group  505206 non-null  object
 10  Age_group          505206 non-null  object
dtypes: float64(1), object(10)
memory usage: 46.3+ MB

In [215]:
null_data = df[df.isnull().any(axis=1)]
null_data

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Tenure_Group,Usage_Group,Support_Group,Delay,Pay_Group,Interaction_group,Age_group
199295,NaN,NaN,None,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,Long Term,High,High,Delay,High,Not Recent,Old

In [216]:
X_Train_df = X_Train_df.drop(199295)

In [218]:
#one hot encoding categorical features

ohe = OneHotEncoder(drop='first')
dummies = ohe.fit_transform(X_Train_df[['Gender','Subscription Type','Contract Length', 'Tenure_Group', 'Usage_Group','Support_Group','Delay', 'Pay_Group','Interaction_group','Age_group']])

# Getting a DF
df_onehot = pd.DataFrame(dummies.todense(), columns=ohe.get_feature_names(), index=X_Train_df.index)

df_onehot.head()

,x0_Male,x1_Premium,x1_Standard,x2_Monthly,x2_Quarterly,x3_Long Term,x3_New,x4_Low,x4_Medium,x5_Low,x5_Medium,x6_No Delay,x7_Low,x7_Medium,x8_Recent,x9_Old,x9_Young
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [226]:
X_Train_df = df_onehot

In [221]:
df=df.drop(199295)

In [222]:
y = df['Churn']
y

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
64369    1.0
64370    1.0
64371    1.0
64372    1.0
64373    1.0
Name: Churn, Length: 505206, dtype: float64

In [225]:
X_train, X_test, y_train, y_test = train_test_split(X_Train_df, y, test_size = 0.3)

In [228]:
lr1 = LinearRegression()
lr1.fit(X_train, y_train)

LinearRegression()

In [231]:
lr1.score(X_train, y_train)

0.4209196963680839

In [232]:
logreg_clf = LogisticRegression()

In [233]:
logreg_clf.fit(X_train, y_train)

LogisticRegression()

In [269]:
logreg_clf.score(X_train, y_train)

0.8455961362273925

In [234]:
weights = logreg_clf.coef_.tolist()
weight_values = weights[0]
weight_values

[-0.773151310004425,
 -0.07758335658778819,
 -0.06623064771160761,
 2.199812769705817,
 -0.014812872497982193,
 -0.01948282003506212,
 0.05094497616730405,
 0.29295976433294235,
 -0.0005290506231338348,
 -3.002603767961119,
 -2.387328994362371,
 -0.46396231185518017,
 2.3178473535862243,
 0.6027396672959118,
 -0.6245172802741705,
 0.36130397823285876,
 0.3230313064531443]

In [235]:
column_headers = X_train.columns.values.tolist()

tuples = [(key, value)
          for i, (key, value) in enumerate(zip(column_headers, weight_values))]
res = dict(tuples)

print(res)

{'x0_Male': -0.773151310004425, 'x1_Premium': -0.07758335658778819, 'x1_Standard': -0.06623064771160761, 'x2_Monthly': 2.199812769705817, 'x2_Quarterly': -0.014812872497982193, 'x3_Long Term': -0.01948282003506212, 'x3_New': 0.05094497616730405, 'x4_Low': 0.29295976433294235, 'x4_Medium': -0.0005290506231338348, 'x5_Low': -3.002603767961119, 'x5_Medium': -2.387328994362371, 'x6_No Delay': -0.46396231185518017, 'x7_Low': 2.3178473535862243, 'x7_Medium': 0.6027396672959118, 'x8_Recent': -0.6245172802741705, 'x9_Old': 0.36130397823285876, 'x9_Young': 0.3230313064531443}

In [236]:
#looking at important features

keys = list(res.keys())
values = list(res.values())
sorted_value_index = np.argsort(values)
sorted_dict = {keys[i]: values[i] for i in sorted_value_index}
sorted_dict

{'x5_Low': -3.002603767961119,
 'x5_Medium': -2.387328994362371,
 'x0_Male': -0.773151310004425,
 'x8_Recent': -0.6245172802741705,
 'x6_No Delay': -0.46396231185518017,
 'x1_Premium': -0.07758335658778819,
 'x1_Standard': -0.06623064771160761,
 'x3_Long Term': -0.01948282003506212,
 'x2_Quarterly': -0.014812872497982193,
 'x4_Medium': -0.0005290506231338348,
 'x3_New': 0.05094497616730405,
 'x4_Low': 0.29295976433294235,
 'x9_Young': 0.3230313064531443,
 'x9_Old': 0.36130397823285876,
 'x7_Medium': 0.6027396672959118,
 'x2_Monthly': 2.199812769705817,
 'x7_Low': 2.3178473535862243}

In [237]:
#Making Decision Tree

tree_clf = DecisionTreeClassifier(criterion = 'gini', random_state=42)

tree_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [247]:
tree_clf = DecisionTreeClassifier(criterion = 'entropy', max_depth = 10, splitter = 'best' , random_state=42, min_samples_split=10, \
                                 min_samples_leaf=1)
tree_clf.fit(X_train, y_train)

# Accuracy on training data & test data
print('Training:', tree_clf.score(X_train, y_train))
print('Testing:', tree_clf.score(X_test, y_test))

Training: 0.8665578943796587
Testing: 0.8650453279845872

In [272]:
bag_class_decision = BaggingClassifier(base_estimator = DecisionTreeClassifier(), n_estimators = 150)
bag_pipe = Pipeline([('model',bag_class_decision)])
params = {'model__base_estimator__max_depth': np.arange(4,28,4)
         }
cv = GridSearchCV(estimator = bag_pipe, param_grid = params, cv = 5)

In [273]:
cv.fit(X_train, y_train)

KeyboardInterrupt:

In [ ]:
best_model = cv.best_estimator_
cv.best_params_

In [ ]:
cv.best_score_

In [274]:
rf_pipe = Pipeline([('model', RandomForestClassifier(n_estimators = 100))])

In [ ]:
rf_params = {'model__n_estimators': [50, 100, 200, 500] ,
             'model__min_samples_leaf': [1,3,5,7]}
rf_cv = GridSearchCV(estimator = rf_pipe, param_grid = rf_params, cv = 5)
rf_cv.fit(X_train, y_train)

In [ ]:
rf_cv.best_score_

In [ ]:
best_rf_model = rf_cv.best_estimator_
best_rf_model

In [ ]:
best_rf_model.fit(X_train, y_train)

In [ ]:
y_rfcv_pred = best_rf_model.predict(X_test)
print(classification_report(y_test,y_rfcv_pred))

In [253]:
from tensorflow.keras.optimizers import Adam
opt = Adam(learning_rate=0.003, beta_1=0.9, beta_2=0.999, epsilon=1e-07)

In [265]:
model = Sequential()

model.add(Dense(20, activation='relu'))
model.add(Dropout(0.2)) # dropout on previous activations
model.add(Dense(12, activation='relu'))
model.add(Dense(12, activation='relu'))
model.add(Dropout(0.1)) # dropout
model.add(Dense(12, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(10, activation ='softmax'))

# compile model
model.compile(optimizer=opt, loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

,x0_Male,x1_Premium,x1_Standard,x2_Monthly,x2_Quarterly,x3_Long Term,x3_New,x4_Low,x4_Medium,x5_Low,x5_Medium,x6_No Delay,x7_Low,x7_Medium,x8_Recent,x9_Old,x9_Young
423870,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
206301,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
124242,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
263171,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
270808,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330173,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
54107,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
19105,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
90812,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
120567,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [268]:
# will take a while
Output = model.fit(X_train, y_train, epochs=10, validation_split = 0.2)

Epoch 1/10
8842/8842 [==============================] - 16s 2ms/step - loss: 0.3686 - accuracy: 0.8650 - val_loss: 0.3657 - val_accuracy: 0.8673
Epoch 2/10
8842/8842 [==============================] - 14s 2ms/step - loss: 0.3686 - accuracy: 0.8649 - val_loss: 0.3672 - val_accuracy: 0.8673
Epoch 3/10
8842/8842 [==============================] - 15s 2ms/step - loss: 0.3695 - accuracy: 0.8647 - val_loss: 0.3655 - val_accuracy: 0.8666
Epoch 4/10
8842/8842 [==============================] - 17s 2ms/step - loss: 0.3686 - accuracy: 0.8654 - val_loss: 0.3700 - val_accuracy: 0.8663
Epoch 5/10
8842/8842 [==============================] - 16s 2ms/step - loss: 0.3686 - accuracy: 0.8652 - val_loss: 0.3716 - val_accuracy: 0.8669
Epoch 6/10
8842/8842 [==============================] - 15s 2ms/step - loss: 0.3684 - accuracy: 0.8655 - val_loss: 0.3646 - val_accuracy: 0.8668
Epoch 7/10
8842/8842 [==============================] - 15s 2ms/step - loss: 0.3684 - accuracy: 0.8652 - val_loss: 0.3656 - val_accuracy: 0.8671
Epoch 8/10
8842/8842 [==============================] - 13s 2ms/step - loss: 0.3685 - accuracy: 0.8652 - val_loss: 0.3658 - val_accuracy: 0.8668
Epoch 9/10
8842/8842 [==============================] - 15s 2ms/step - loss: 0.3687 - accuracy: 0.8649 - val_loss: 0.3704 - val_accuracy: 0.8656
Epoch 10/10
8842/8842 [==============================] - 15s 2ms/step - loss: 0.3691 - accuracy: 0.8645 - val_loss: 0.3701 - val_accuracy: 0.8669